<!-- fragments/botao-incluir.html -->
<div th:fragment="botao(rota, tooltip)">
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{__${rota}__}" th:title="${tooltip}"
           class="text-white rounded-full w-12 h-12 flex items-center justify-center shadow-lg
                  transition duration-200 ease-in-out transform hover:scale-110"
           style="background-color: rgb(46, 63, 82);">
            <svg class="w-9 h-9" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
        </a>
    </div>
</div>
