<!-- fragments/botao-emprestar.html -->
<div th:fragment="botao(rota, tooltip, tamanho)">
  <a sec:authorize="hasRole('ADMIN')"
    th:href="${rota}" th:title="${tooltip}" 

    class="text-white rounded-full flex items-center justify-center shadow-lg
            transition duration-200 ease-in-out transform hover:scale-110"
     style="background-color: rgb(46, 63, 82);"
     th:classappend="${tamanho == 'grande'} ? ' w-12 h-12' : ' w-8 h-8'">

    <!-- Ícone PNG  -->
    <img src="/img/icon-loan-azul.png" th:classappend="${tamanho == 'grande'} ? ' w-12 h-12' : ' w-4 h-4'"
      alt="Emprestar">
  </a>
</div>
